body {
  font-family: cursive;
  text-align: center;
  background: linear-gradient(rgb(176, 184, 216), rgb(207, 133, 133));
  height: 100vh;
  font-size: 30px;
  margin: 0;
  overflow: hidden;
}

#ul-element {
  list-style-type: none;
  overflow: auto;
}

#input-element {
  font-size: 18px;
  font-family: cursive;
  background-color: rgb(209, 181, 181);
  background-position: 10px;
  padding-left: 30px;
  border-radius: 5px;
}

#input-element:focus {
  background-color: rgb(246, 226, 219);
}

#input-list {
  font-family: cursive;
  background: rgb(176, 184, 216);
}

#submit-button {
  font-size: 20px;
  font-family: cursive;
  background: none;
  border: none;
}

.li-button {
  font-family: cursive;
  font-size: 20px;
  background: none;
  border: none;
}

#clear {
  background: none;
  border: none;
  font-family: cursive;
  font-size: 15px;
  color: rgb(192, 57, 57);
}

.done {
  color: rgb(48, 189, 48);
}

.name.done-decoration {
  text-decoration: line-through;
}

.delete {
  color: rgb(192, 57, 57);
}

#title {
  margin-top: 0;
}
